host kubernetes
    HostName "${instance_id.kubernetes}"
    User ubuntu
    Port 22
    IdentityFile ./id_rsa
    ProxyCommand sh -c "aws ssm start-session --region ap-northeast-1 --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"

host worker
    HostName "${instance_id.worker}"
    User ubuntu
    Port 22
    IdentityFile ./id_rsa
    ProxyCommand sh -c "aws ssm start-session --region ap-northeast-1 --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
